.DS_Store
.env
.env.local
.env.production
.env.*.local
.vercel
.next
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage
dist
out
data/*.db
data/*.db-shm
data/*.db-wal
